header img {
  width: 100%;
  height: 20rem;
}

body {
  font-family: 'Ubuntu Mono', monospace;
  background-image:  ;
}

.navMenu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 3vw 0 0 -1.5vw;
  padding: 0 2vw;
  column-gap: 1vw;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(4, 103, 178);
  list-style: none;
}

.about {
  margin: 5vw 0 0 2vw;
  width: 52%;
  font-size: 2rem;
}



