*{
  font-family: 'Ubuntu Mono', monospace;
  margin: 0;
  padding: 0;
}

header {
  display:flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

header img {
  height: 6rem;
  max-width: 100%;
}

nav ul {
  display:flex;
  align-items: center;
  flex-wrap: nowrap;
}

nav ul li a {
padding: 50px 15px;
}

.navMenu {
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: space-between;
} 

body{
  background-image: url('./img/totoro-bus-stop.png');
  background-repeat: no-repeat;
  background-position-y: 80%;
  background-color: black;
  background-size: contain;
  padding: 0%;
  margin: 0%;
}

main{
  margin: 12px;
}

.about {
  padding: 22px;
  font-size: 1rem;
  color: white;
}

.founders{
  padding: 22px ;
  font-size: 1rem;
  color: white;
}

.founders li a {
  color: white;
  text-decoration-line: underline;
}

a {
  text-decoration: none;
  color: rgb(24, 118, 40);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  background-color: white;
  margin-top: 41px;
}

.footer img {
width: 200px;
}

@media (min-width:500px){
  nav ul li a {
    padding: 15px;
  }

  a {
    font-size: 18px;
  }

  .about {
    font-size: 18px;
  }

  .founders {
    font-size: 18px;
  }

  .footer {
    font-size: 18px;
  }
}

@media (min-width:900px){
  header img {
    height: 8rem;
  }

  nav ul li a {
    padding: 33px;
  }

  a {
    font-size: 25px;
  }

  .about {
    font-size: 25px;
  }

  .founders {
    font-size: 25px;
  }

  .footer {
    font-size: 25px;
  }

  .footer img {
    width: 250px;
    }
}

@media (min-width:1440px){
  header img {
    height: 10rem;
  }

  nav ul li a {
    padding: 50px;
  }

  a {
    font-size: 35px;
  }

  .about {
    font-size: 3rem;
  }

  .founders {
    font-size: 3rem;
  }

  .footer {
    font-size: 33px;
    margin-top: 83px;
  }

  .footer img {
    width: 310px;
    }
}