body {
  font-family: 'Ubuntu Mono', monospace;
  background-image: url('./img/Figura-5-O-Logotipo-do-Estudio-Ghibli-A-Imagem-do-Personagem-Totoro-Tornou-se-Marca.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  margin: 0;
}

navbar {
  width: 100%;
  background-color:white;
  display: flex;
  justify-content: center;
  margin: 0;
}
.navMenu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 3vw 0 0 -1.5vw;
  padding: 0 2vw;
  column-gap: 1vw;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(254, 254, 254);
  list-style: none;
}

.about {
  margin: 5vw 0 0 2vw;
  width: 52%;
  font-size: 2rem;
}


footer {
  width: 100%;
}

.foot img {
  position: absolute;
}

ul{
text-align: center;
}

.foot p {
  text-align: end;
}
