*{
  font-family: 'Ubuntu Mono', monospace;
  margin: 0;
  padding: 0;
}

header {
  display:flex;
  background-color: white;
  width: 100%;
  height: 6rem;
  align-items: center;
  justify-content: space-around;
}

header img {
  height: 6rem;
}

nav ul {
  display:flex;
  align-items: center;
  flex-wrap: nowrap;
}

nav ul li a {
padding: 50px 15px;
}

.navMenu {
  width: 8rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: space-between;
} 

.filters{
display: flex;
align-items: center;
justify-content: center;
gap: 50px;
}

#divBusca {
  width:100px;
}

#txtBusca {
  background-color:transparent;
  padding-left:5px;
  font-style:italic;
  font-size:18px;
  border:none;
  height:32px;
  width:260px;
}

.infos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1vw;
  row-gap: 1vw;
  justify-content: center;
  margin: 3vw 0 2vw;
  padding: 0;
}  

.poster {
  background-color: #B0E0E6 ;
  padding: 15px;
  border-radius: 0.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
}

#card{
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.infoCards{
  background-color: #B0E0E6;
  border-radius: 0.5vw;
  margin: 7% 20%;
  padding: 2vw 4vw 2.5vw;
  min-width: 60%;
  min-height: 45%;
  color: black;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}

.close{
  background-color: #1E90FF;
  margin-top: 3vw;
  border: 1px solid;
  padding: 0.5vw 2vw;
  border-radius: 0.5vw;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
}

#cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1vw;
  row-gap: 1vw;
  justify-content: center;
  margin: 3vw 0 2vw;
  padding: 0;
}

.cardStructure{
  background-color: #B0E0E6;
  padding: 0;
  border-radius: 0.3vw;
  color: black;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.footer img {
width: 200px;
}